<p>
  Variável de instância/sessão: <%= @name %>

  <p>
    @name pode ter valor diferente a cada sessão
  </p>

  <p>
    Deus do conhecimento: <%= @batman %>
  </p>

  <p>
    <p>
      Pra escrever o nome do Deus da velocidade abaixo, digite '<strong>?god_speed=Flash</strong>' na URL
    </p>
    Deus da velocidade: <strong> <%= @flash %> </strong>
  </p>

  <p>
    <p>
      Pra escrever o nome do Deus da luz abaixo, digite '<strong>?god_light=Hal Jordan</strong>' na URL
    </p>
    Deus da luz: <strong> <%= @hal_jordan %> </strong>
  </p>
</p>
