<p class="py-2 px-3 rounded-lg inline-block">
  Variável de instância/sessão: <%= @name %>

  <p class="py-2 px-3 rounded-lg">
    @name pode ter valor diferente a cada sessão
  </p>

  <p class="py-2 px-3 rounded-lg">
    Deus do conhecimento: <%= @batman %>
  </p>

  <p class="py-2 px-3 rounded-lg">
    <p class="py-2 px-3 rounded-lg">
      Pra escrever o nome do Deus da velocidade abaixo, digite '<strong>?god_speed=Flash</strong>' na URL
    </p>
    Deus da velocidade: <strong> <%= @flash %> </strong>
  </p>

  <p class="py-2 px-3 rounded-lg">
    <p class="py-2 px-3 rounded-lg">
      Pra escrever o nome do Deus da luz abaixo, digite '<strong>?god_light=Hal Jordan</strong>' na URL
    </p>
    Deus da luz: <strong> <%= @hal_jordan %> </strong>
  </p>
</p>
