<h1 class="mb-4 text-4xl leading-none tracking-tight">
  Welcome to Crypto Wallet!
</h1>

<ul>
  <p class="mt-2">
    <strong>Data: </strong> <%= brazilian_date(Date.today) %>
  </p>

  <%= render 'menu' %>

  <p class="mt-2">
    Você está em ambiente de <strong> <%= ambiente_rails %> </strong>
  </p>

  <%= render 'instances' %>
</ul>
